<template>
  <div v-editable="blok" class=" ">
<div class="container">

<h1>    {{blok.title}}</h1>
   <p>{{blok.Beschreibung}}</p> 

</div>

        <component :key="blok._uid" v-for="blok in blok.eventGroups" :blok="blok" :is="blok.component"></component>
                <p style="color:white">diese Seite ist erstellt mit Nuxt.js Storyblok und Firebase Hosting von Stefan Munk</p>
  </div>

</template>
 
 <style>

 html { 
   background: url("../assets/background.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
 </style>
 
<script>
export default {
  props: ['blok']
}
</script>