<template>
<a :href="blok.linktopage.url">
  <div v-editable="blok" class="column event" style="background-color:lightgrey;  filter: alpha(opacity=99);">
    <div class="grid ">

      <i class="fas fa-thumbtack"></i>
      <!-- <p style="margin-left:2%"> {{blok.date }} </p> -->
      <p style="margin-left:2%"> {{blok.zaehler}} {{blok.description}}</p>

       <!-- <img :src="blok.asset" alt=""  > -->


    </div>
  </div>
</a>
</template>
<style>
  input:checked + div { display: none; }
  .event{
    margin:10px!important;
    padding:.8%!important;
    /* background-color:#00b19e!important;
    color: #e177a2; */
  }
  .event p{
    font-size:12px;
  }
  .event i{
        color: #8ccdc8;
  }
</style>
<script>
export default {
  props: ['blok']
}
</script>


