<template>
  <div v-editable="blok" class="column feature ">
    <div class="grid">
    <div v-if="blok.expliziterZaehler === false" class="counter">
      <digit>
          {{blok.events.length}}
        </digit>
    </div>
    <div v-if="blok.expliziterZaehler === true" class="counter" :key="digit._uid" v-for="digit in digits" >
      <digit>{{digit}}</digit>
    </div>
    <div class="schrift">
      <h2>    {{blok.titel}}</h2> 
      <p>{{blok.beschreibung}}</p>
    </div>

    </div>

        <component :key="blok._uid" v-for="blok in blok.events" :blok="blok" :is="blok.component"></component>

  </div>

</template>

<script>
export default {
  props: ['blok'],
  head: {
    link: [
      { rel: 'stylesheet', href: '/counter.css' },
      { rel: 'stylesheet', href: 'https://use.fontawesome.com/releases/v5.0.10/css/all.css' }
    ]
  },
  ready: function () {

  },
  computed: {
    getZaehlerSum: function () {
      console.log('getZaehlerSum')
      let getZaehlerSum = 0
      this.blok.events.forEach(event => {
        getZaehlerSum = getZaehlerSum + +event.zaehler
      })
      console.log(getZaehlerSum)
      return getZaehlerSum
    },
    digits: function () {
      var digits = ('' + this.getZaehlerSum).split('')
      return digits
    }
  }

}
</script>

<style>

.schrift{
  margin-left: 2%;
}
.counter {
  -width: 20px;
  -height: 30px;
  z-index: 1;

  border: 2px inset #666;
}
.counter .wheel {
  -margin-top: 5px;
  -width: 20px;
  -height: 30px;
  -font-size: 20px;
}

span {
  display: inline-block;
}
span button {
  display: block;
  width: 100%;
  font-weight: bold;
}

#d8.counter {
  width: 150px;
  -height: 30px;
  z-index: 1;

  border: 2px inset #666;
}
#d8.counter .wheel {
  -margin-top: 5px;
  width: 150px;
  height: 40px;
  font-size: 20px;
}
digit{
    border-bottom-color: rgba(128, 128, 128, 0.5);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-top-color: rgba(64, 64, 64, 0.5);
    border-top-style: solid;
    border-top-width: 1px;
    box-sizing: border-box;
    display: block;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 50px;
    height: 50px;
    line-height: 50px;
    position: relative;
    text-align: center;
    top: 12px;
    user-select: none;
    width: 50px;
}
</style>


